*{

    font-family: Arvo, serif;
}

body {
    background-color: #faf0be !important;
}
.navbar {
    /*background-color: rgb(63, 43, 33) !important;*/
    /*background-color: rgb(43, 26, 19) !important;*/
    background-color: black !important;
    font-size: larger !important;
}

.nav-link:hover {
    color: #faf0be !important;
}

#coffees > li {
    background-color: #faf0be !important;
    transition: all 300ms;

}

#coffees > li:hover {
    background-color: rgb(250, 220, 0) !important;


}

#coffees > li:first-child {
    border-top: 1px solid rgba(0,0,0,0.125);
}

#coffees > li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.coffee-name {
    font-size: 50px
}

.roast-type{
    display: block;
    text-align: center;
    font-size: 30px;
}
h1 {
   color: #faf0be !important;
}

h2{
    font-size: 3.5rem;
}

#roast-selection{
    width: 38%;
    vertical-align: super;
}

#roast-text{
    width: 38%;
    vertical-align: super;

}

.addCoffeeBtn{
    justify-content: center;
    width: auto;
    vertical-align: super;
    padding-left: 15px;
}

#leftForm{
    height: 65px;
}

#rightForm{
    height: 65px;


}

#add-coffee-name{
    width: 38%;
    vertical-align: super;
    margin-right: 15px;
    horiz-align: right;
}

#add-coffee-name-btn{
    justify-self: stretch;
    padding-left: 64px;
}

#add-roast-selection{
    width: 38%;
    vertical-align: super;
}

label{
    font-size: 35px;
    margin-bottom: 0 !important;
    margin-left: 0;

}

.jumbotron-custom {
    background-image: url("img/jumbotron_coffee.jpg");
    background-repeat: repeat-x;
    border-radius: 0;
}

.navbar{
    font-size: x-large;
}

.navbar-brand{
    font-size: x-large;
    margin-left: 5rem;
    margin-right: 5rem;

}


